<header class="header">

    <a href="#" class="logo"> <i class="fas fa-paper-plane"></i> travel </a>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Book</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Review</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Blog</a></li>
        </ul>
    </nav>
    <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-moon" id="theme-btn"></div>
        <div id="login-btn" class="logIn"><a href="/login">Log In</a></div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#packages">packages</a>
        <a href="#services">services</a>
        <a href="#pricing">pricing</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
        <a href="#blogs">blogs</a>
    </nav>
</header>
<!-- --------------search-bar---------------- -->
<section class="search-Bar">
    <div class="search-input">
        <input type="text" placeholder="search here...">
        <i class="fas fa-search"></i>
    </div>
</section>