<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.7.5/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<!-- custom js file link  -->
<script src="js/script.js"></script>
<script src="js/validation.js"></script>
<script src="js/queryFormValidation.js"></script>
<script>
    AOS.init({
        duration: 800,
        delay: 200,
        behavior: 'smooth',
    });
    $('.multiple-').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
    });
</script>

</body>

</html>